@charset "UTF-8";
//@description: 
//@author: weiquan
//@date: 
//公用模块
@mixin box{
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: deepskyblue;
  box-shadow: 0 0 5px 5px white;
  position: relative;
  display: flex;
  &::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: gold;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -5px;

  }
}
.main{
  .side{
    outline:1px solid white;
  }
  .con{
    opacity: 5;
    &::before{
      content: '';
      display: inline-block;
      background-color: olive;
      height: 5px;
      width: 100%;
    }
  }
}
.box{
  @include box;
}